.meaning__definition {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(118, 109, 96);
    padding: 1rem;
    font-family:monospace;
  }

  p {
    font-size: 15px;
    font-weight: 400;    
  }