.word {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 50vh;
    width: 50vw;
    border: 5px solid rgb(92, 59, 3);
    border-radius: 10px;
    padding: 10px 20px;
    overflow-x: hidden;
    margin: 1rem;
  }

  @media (max-width: 900px) {
    .meanings {
      overflow: scroll;
      overflow-x: hidden;
      height: 60vh;
    }
  }

